<% bookmarks.each do |bm| %>
    <%= erb :'element/bm', :layout => false, :locals => {:bm => bm} %>
<% end %>

<div id="bm_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby='bmLabel' aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="bmLabel">书签管理对话框的标题</h3>
      </div>
      <div class="modal-body">
        <form method="POST">
          <input name="bm_id" class="hidden">
          <input name="opr" class="hidden">
          Description:
          <input name="desc" type="text" class="form-control">
          URL:
          <input name="url" type="text" class="form-control">
          Tags(以分号间隔):
          <input name="tags" type="text" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
          取消
        </button>
        <button class="btn btn-primary submit-trigger">
          确定
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/js/bm.js"></script>
<script>
    $(document).ready(function () {
        init_bm();
    });
</script>