<div class="jumbotron">
  <h1>Open的个人书签服务器</h1>
  <li>存储在免费的云上。</li>
  <li>不限空间。</li>
  <li>任何一处一致性使用。</li>
  <li>自助注册使用,OPEN For everyone。</li>
  <a class="btn btn-large btn-success" href="/signup">立即创建帐号</a>
</div>
