<% tags.each do |tag| %>
    <%= erb :'element/tag', :locals => {:tag => tag}, :layout => false %>
<% end %>
<!-- Modal -->
<div id="tag_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tagLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="tagLabel">标签管理</h3>
      </div>
      <div class="modal-body">
        <form method="POST">
          <input name="opr" class="hidden">
          <input name="old_tag_name" class="hidden">
          Name:
          <input name="tag_name" type="text" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
          取消
        </button>
        <button class="btn btn-primary submit-trigger">
          保存
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<script src="/js/tag.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        init_tag();
    });
</script>






