<div class="jumbotron">
	<h1>简单的个人书签服务器</h1>
	<p class="lead">
		采用sinatra框架,数据存储在parse数据云上。
	</p>
	<a class="btn btn-large btn-success" href="/signup">立即注册</a>
	<span class="pull-right"> 已经有帐号了？<a class="btn btn-large btn-primary" href="/signin">登录</a></span>
</div>
<hr>
<div>
	<h4>免费无限空间</h4>
	<p>
		存储在云上,完全免费,不限空间
	</p>

	<h4>任何一处一致性使用</h4>
	<p>
		随时随地保存,同步书签。
	</p>
</div>

